body {
    font-family: 'Trebuchet MS';
    font-size: 30px;
    user-select: none;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}

.button {
    border: 5px solid;
    padding: 40px;
    border-radius: 50%;
}